@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: grey;
    color: #222;
    overflow-x: hidden;
    margin: 0.012;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.6s linear;
    width: 100 vw;
    min-height: 100vh;
    padding: 50px;
}

.container.show-nav {
    transform: rotate(-15deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: mediumaquamarine;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}